table{
  width: 100%;
}
.loading-spinner{
  padding: 250px;
  background: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

#select{
  color: white;
  font-size: 12pt;
  margin-left: 50px;
  padding: 5px;
}

#bt-search{
  margin-left: 600px;
  padding: 2px;
  background-color: darkslateblue;
  border-radius: 10px;
  color: whitesmoke;
}

#bt-cadastrar{
  margin-left: 30px;
  padding: 2px;
  background-color: darkslateblue;
  border-radius: 10px;
  color: whitesmoke;
}

#upd-bt-client{
  color: darkslateblue;
}

#del-bt-client{
  margin-left: 10px;
  color: red;
}



