table{
  width: 100%;
}
.loading-spinner{
  padding: 250px;
  background: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

#bt-search{
  margin-left: 650px;
  padding: 2px;
  background-color: darkslateblue;
  border-radius: 10px;
  color: whitesmoke;
}

#bt-cadastrar{
  margin-left: 50px;
  padding: 2px;
  background-color: darkslateblue;
  border-radius: 10px;
  color: whitesmoke;
}



